# dependencies
node_modules/

# production
dist/
build/

# environment variables
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS files
.DS_Store
Thumbs.db
src/generated/prisma/

# editor
.idea/
.vscode/
*.swp

# coverage
coverage/

# typescript cache
*.tsbuildinfo

# misc
.tmp/
.cache/